@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --gradient-intro: linear-gradient(140deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --primary-text: white;
    --primary-text-cta: hsl(356, 100%, 66%);
    --primary-bg-hover-cta: hsl(355, 100%, 74%);
    --primary-text-dark: hsl(208, 49%, 24%);
    --primary-text-light-dark: hsl(208, 49%, 35%);
    --primary-text-medium: hsl(207, 13%, 34%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text);
}

div {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, p {
    font-family: 'Overpass';
}

.top-outer {
    background: var(--gradient-intro);
    border-radius: 0 0 0 5rem;
}

.top-inner {
    background-image: url(../images/bg-pattern-intro.svg);
    border-radius: 0 0 0 5rem;
    background-size: 80rem;
    background-position: -20rem -14rem;
}

header {
    padding: 3rem 2rem;
    position: relative;

    .logo {
        img {
            width: 5rem;
        }
    }

    .menu-toggle {
        width: 1.6rem;
        height: 1.6rem;
        border: none;
        float: right;
        background: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &.hide {
            background: url(../images/icon-close.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    nav {
        display: none;
        box-sizing: border-box;
        position: absolute;
        width: calc(100vw - 4rem);
        background: white;
        border-radius: 0.3rem;
        font-family: 'Overpass';
        text-align: center;
        margin-top: 3rem;
        padding: 2rem;
        box-shadow: 0 15px 43px #00000042;

        .dropdown {
            color: var(--primary-text-dark);

            span {
                font-size: 1.1rem;
                font-weight: bold;
                padding-right: 1.1rem;
                background-image: url(../images/icon-arrow-dark.svg);
                background-position: right;
                background-size: 0.6rem;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            ul {
                display: none;
            }
        }

        .dropdown:focus-within {
            color: hsl(210, 16%, 45%);

            ul {
                display: block;
                background: #efeff1;
                border-radius: 0.2rem;
                padding: 1.5rem;
                margin-top: 1rem;
                font-size: 0.96rem;
                font-weight: bold;

                li + li {
                    margin-top: 1rem;
                }
            }
        }

        .dropdown + .dropdown {
            margin-top: 2rem;
        }

        hr {
            margin: 1.6rem 0 2rem 0;
            color: #ffffff61;
        }

        .secondary {
            a {
                color: var(--primary-text-dark);
                font-size: 1.1rem;
                font-weight: bold;
            }

            li + li {
                display: inline-block;
                margin-top: 1.2rem;
                padding: 0.8rem 2.5rem;
                border-radius: 10rem;
                background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                
                a {
                    font-family: 'Ubuntu';
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }
}

.section-hero {
    padding: 4rem 0 9rem 0;
    text-align: center;

    h1 {
        font-size: 2.2rem;
        margin: 0 2rem 1rem 2rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0 2rem 3rem 2rem;
    }

    .container {
        a {
            display: inline-block;
            padding: 0.8rem 0;
            width: 15ch;
            border: 1px solid white;
            border-radius: 10rem;
            color: var(--primary-text);
            font-family: 'Ubuntu';
            font-size: 1rem;
            font-weight: 700;
        }

        .cta {
            background: white;
            color: var(--primary-text-cta);

            &:hover {
                background: var(--primary-bg-hover-cta);
                border-color: var(--primary-bg-hover-cta);
                color: white;
            }
        }

        a + a {
            margin-left: 0.8rem;
        }
    }
}

.section-editor {
    text-align: center;
    
    h1 {
        color: var(--primary-text-dark);
        font-size: 1.65rem;
        line-height: 120%;
    }

    p {
        color: var(--primary-text-medium);
        font-size: 0.95rem;
        line-height: 170%;
        letter-spacing: 0.04rem;
    }

    img {
        width: 100%;
    }
}