@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --gradient-intro: linear-gradient(140deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --primary-text: white;
  --primary-text-cta: hsl(356, 100%, 66%);
  --primary-bg-hover-cta: hsl(355, 100%, 74%);
  --primary-text-dark: hsl(208, 49%, 24%);
  --primary-text-light-dark: hsl(208, 49%, 35%);
  --primary-text-medium: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);
  --footer-text: hsl(240, 2%, 79%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: clip;
  color: var(--primary-text);
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, p {
  font-family: 'Overpass';
}

.top-outer {
  background: var(--gradient-intro);
  border-radius: 0 0 0 5rem;
}

.top-inner {
  background-image: url(../images/bg-pattern-intro.svg);
  border-radius: 0 0 0 5rem;
  background-size: 80rem;
  background-position: -20rem -14rem;
}

header {
  padding: 3rem 2rem;
  position: relative;
  margin: 0 auto;
}

header .logo img {
  width: 5rem;
}

header .toggle-open, header .toggle-close {
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 1.625rem;
  height: 1.625rem;
}

header .toggle-close {
  display: none;
}

header svg #top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header svg #bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

header svg #top, header svg #bottom {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

header svg #center {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

header .menu-container:focus-within nav {
  max-height: 600px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: max-height 0.3s step-start, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: max-height 0.3s step-start, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: max-height 0.3s step-start, transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: max-height 0.3s step-start, transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

header .menu-container:focus-within svg #top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-container:focus-within svg #bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menu-container:focus-within svg #center {
  opacity: 0;
}

header .menu-container:focus-within svg #top, header .menu-container:focus-within svg #bottom {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

header .menu-container:focus-within svg #center {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

header .menu-container:focus-within + .toggle-close {
  display: block;
}

header nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: calc(100% - 4rem);
  background: white;
  border-radius: 0.3rem;
  font-family: 'Overpass';
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  -webkit-box-shadow: 0 15px 43px #00000042;
          box-shadow: 0 15px 43px #00000042;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  -webkit-transition: max-height 0.3s step-end, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: max-height 0.3s step-end, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: max-height 0.3s step-end, transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: max-height 0.3s step-end, transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

header nav .dropdown {
  color: var(--primary-text-dark);
}

header nav .dropdown span {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

header nav .dropdown span::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-arrow-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 9px;
  margin-left: 0.4rem;
}

header nav .dropdown ul {
  display: none;
  background: #efeff1;
  border-radius: 0.2rem;
  padding: 1.5rem;
  margin-top: 1rem;
  font-size: 0.96rem;
  font-weight: bold;
}

header nav .dropdown ul li + li {
  margin-top: 1rem;
}

header nav .dropdown:focus-within {
  color: #607385;
}

header nav .dropdown:focus-within span::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav .dropdown:focus-within ul {
  display: block;
}

header nav .dropdown:focus-within ul a {
  color: #607385;
}

header nav .dropdown + .dropdown {
  margin-top: 2rem;
}

header nav hr {
  margin: 1.6rem 0 2rem 0;
  color: #ffffff61;
}

header nav .secondary a {
  color: var(--primary-text-dark);
  font-size: 1.1rem;
  font-weight: bold;
}

header nav .secondary li + li {
  display: inline-block;
  margin-top: 1.2rem;
  border-radius: 10rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
}

header nav .secondary li + li a {
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 1rem;
  color: white;
  padding: 0.8rem 2.5rem;
}

.section-hero {
  padding: 4rem 0 9rem 0;
  text-align: center;
}

.section-hero h1 {
  font-size: 2.2rem;
  margin: 0 2rem 1rem 2rem;
}

.section-hero p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 2rem 3rem 2rem;
}

.section-hero .container a {
  display: inline-block;
  padding: 0.8rem 0;
  width: 15ch;
  border: 1px solid white;
  border-radius: 10rem;
  color: var(--primary-text);
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-weight: 700;
}

.section-hero .container .cta {
  background: white;
  color: var(--primary-text-cta);
}

.section-hero .container .cta:hover {
  background: var(--primary-bg-hover-cta);
  border-color: var(--primary-bg-hover-cta);
  color: white;
}

.section-hero .container a + a {
  margin-left: 0.8rem;
}

.section-editor {
  text-align: center;
}

.section-editor h1, .section-editor h2 {
  color: var(--primary-text-dark);
  font-size: 1.675rem;
  line-height: 120%;
  margin-top: 2.5rem;
  padding: 0 3rem;
}

.section-editor h1 {
  margin: 6rem 0 3rem 0;
  padding: 0;
  letter-spacing: -0.04rem;
}

.section-editor p {
  color: var(--primary-text-medium);
  font-size: 0.95rem;
  line-height: 170%;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.section-editor img {
  width: clamp(1rem, 100%, 30rem);
}

.section-infra {
  background: radial-gradient(circle at center -15rem, #2c2d3f 50%, #3f4164);
  margin-top: 16.5rem;
  padding-bottom: 8rem;
  text-align: center;
  border-radius: 0 5rem;
}

.section-infra .bg-image {
  background: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 37rem;
  background-position: center -15rem;
  border-radius: 0 5rem;
}

.section-infra .container img {
  width: clamp(1rem, 100%, 30rem);
  margin-top: -11.5rem;
}

.section-infra .container h1 {
  font-size: 2.5rem;
  letter-spacing: -0.04rem;
}

.section-infra .container p {
  font-size: 0.95rem;
  letter-spacing: 0.04rem;
  line-height: 170%;
  padding: 0 2rem;
  margin-top: 1rem;
}

.section-features {
  text-align: center;
  margin-top: 4rem;
}

.section-features img {
  width: clamp(1rem, 100%, 36rem);
}

.section-features h2 {
  color: var(--primary-text-dark);
  font-size: 1.675rem;
  margin-top: 2.5rem;
}

.section-features p {
  color: var(--primary-text-medium);
  font-size: 0.95rem;
  line-height: 170%;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

footer {
  background: var(--footer-bg);
  text-align: center;
  margin-top: 6rem;
  font-size: 1.1rem;
  padding-bottom: 5rem;
  border-radius: 0 5rem 0 0;
}

footer img {
  margin: 4.5rem 0 5rem 0;
}

footer .group {
  font-family: 'Ubuntu';
}

footer .group ul li {
  margin-top: 0.9rem;
}

footer .group ul li a {
  color: var(--footer-text);
}

footer .group ul li:nth-child(1) {
  margin-top: 2rem;
}

footer .group + .group {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .top-inner {
    background-size: clamp(1rem, 220%, 198rem);
    background-position: 27% 52%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  header .menu-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header .menu-container:focus-within nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  header .menu-container:focus-within + .toggle-close {
    display: none;
  }
  header .toggle-open {
    display: none;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: auto;
    max-height: inherit;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    overflow: inherit;
    margin: 0 0 0 3rem;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .primary .dropdown {
    margin: 0;
    color: white;
    position: relative;
  }
  header nav .primary .dropdown span {
    font-family: 'Ubuntu';
    font-size: 0.95rem;
    font-weight: normal;
    padding-left: 1rem;
  }
  header nav .primary .dropdown span::after {
    background-image: url(../images/icon-arrow-light.svg);
  }
  header nav .primary .dropdown ul {
    display: block;
    position: absolute;
    background: white;
    text-align: left;
    padding: 1rem;
    font-family: 'Ubuntu';
    font-size: 0.85rem;
    font-weight: normal;
    min-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 15px 43px #00000042;
            box-shadow: 0 15px 43px #00000042;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: max-height 0.3s step-end, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: max-height 0.3s step-end, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: max-height 0.3s step-end, opacity 0.3s ease-out, transform 0.3s ease-out;
    transition: max-height 0.3s step-end, opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  header nav .primary .dropdown ul a {
    color: #333;
  }
  header nav .primary .dropdown ul li:hover {
    font-weight: bold;
  }
  header nav .primary .dropdown:focus-within ul {
    max-height: 1000px;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: max-height 0.3s step-start, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: max-height 0.3s step-start, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: max-height 0.3s step-start, opacity 0.3s ease-out, transform 0.3s ease-out;
    transition: max-height 0.3s step-start, opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  header nav .primary .dropdown + .dropdown {
    margin-left: 0.5rem;
  }
  header nav hr {
    display: none;
  }
  header nav .secondary ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .secondary ul a {
    color: white;
    font-family: 'Ubuntu';
    font-size: 0.95rem;
    font-weight: normal;
  }
  header nav .secondary ul li + li {
    margin: 0 0 0 1.5rem;
    background: white;
  }
  header nav .secondary ul li + li a {
    color: var(--primary-text-cta);
    font-size: 1rem;
    font-weight: bold;
  }
  .section-hero h1 {
    font-size: 2.5rem;
  }
  .section-editor {
    text-align: left;
  }
  .section-editor h1 {
    text-align: center;
    font-size: 2.2rem;
    margin: 8rem 0 3rem 0;
  }
  .section-editor .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .section-editor .container .features {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 60%;
    max-width: 32.6rem;
  }
  .section-editor .container .features h2, .section-editor .container .features p {
    padding: 0;
  }
  .section-editor .container .features h2:nth-child(1) {
    margin-top: 0;
  }
  .section-editor .container picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    right: -14rem;
    width: 64%;
  }
  .section-editor .container picture img {
    width: 100%;
  }
  .section-infra {
    margin-top: 6rem;
    padding: 0;
  }
  .section-infra .bg-image {
    background-position: left -13rem bottom;
  }
  .section-infra .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-infra .container img {
    position: absolute;
    left: 1rem;
    width: 37%;
    margin: 0;
  }
  .section-infra .container .right-side {
    width: 60%;
    max-width: 32.6rem;
    text-align: left;
  }
  .section-infra .container .right-side p {
    padding: 0;
  }
  .section-features {
    text-align: left;
    margin: 8rem 0;
  }
  .section-features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 3rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .section-features .container picture {
    position: absolute;
    left: -14rem;
    width: 68%;
  }
  .section-features .container picture img {
    width: 100%;
  }
  .section-features .container .features {
    width: 60%;
    max-width: 32.6rem;
  }
  .section-features .container .features h2, .section-features .container .features p {
    padding: 0;
  }
  .section-features .container .features h2:nth-child(1) {
    margin-top: 0;
  }
  footer {
    padding-bottom: 0;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  footer .container img {
    width: 5rem;
    height: 100%;
    margin: 0;
  }
  footer .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 6rem;
  }
  footer .container nav .group {
    margin-top: 0;
    font-size: 0.95rem;
    text-align: left;
  }
  footer .container nav .group + .group {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  header .logo img {
    width: 6rem;
  }
  header nav .primary .dropdown + .dropdown {
    margin-left: 1rem;
  }
  .section-hero h1 {
    font-size: 3rem;
  }
  .section-editor {
    margin-top: clamp(1rem, 12%, 11rem);
  }
  .section-editor h1 {
    font-size: 2.5rem;
    margin: 0 0 6rem 0;
  }
  .section-editor .container .features p + h2 {
    margin-top: 5rem;
  }
  .section-editor .container picture {
    right: -25rem;
    width: clamp(1rem, 80%, 60rem);
  }
  .section-infra {
    margin-top: clamp(1rem, 22%, 20rem);
  }
  .section-infra .bg-image {
    background-position-x: calc((100vw - 1440px) / 2 - 15rem);
    background-position-y: bottom -6rem;
    background-size: 66rem;
  }
  .section-infra .container {
    padding: 7rem 3rem;
  }
  .section-infra .container img {
    width: calc(90% - 32.6rem);
  }
  .section-features {
    margin: clamp(1rem, 22%, 18rem) 0;
  }
  .section-features .container picture {
    left: -25rem;
    width: clamp(1rem, 80%, 60rem);
  }
  .section-features .container .features p + h2 {
    margin-top: 5rem;
  }
  footer .container img {
    width: 6rem;
  }
  footer .container nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15%;
  }
}

@media screen and (min-width: 1200px) {
  header .logo img {
    width: 6.5rem;
  }
  .section-hero h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */